@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: none;
  font-family: "Inter", sans-serif;
}

u{
  color:#e4e4e5;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px auto;
  width: 90vw;
  overflow: hidden;
  margin-top: 30px;
}

.formbold-form-wrapper {
  width: 90%;
  /* background: white; */
  overflow: hidden;
}

.formbold-event-wrapper span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2.5px;
  color: #6a64f1;
  display: inline-block;
  margin-bottom: 12px;
}
.formbold-event-wrapper h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #07074d;
  margin-bottom: 15px;
}
.formbold-event-wrapper h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #07074d;
  width: 60%;
  margin: 25px 0 15px;
}
.formbold-event-wrapper p {
  font-size: 16px;
  line-height: 24px;
  color: #536387;
}

.formbold-event-details {
  background: #fafafa;
  border: 1px solid #dde3ec;
  border-radius: 5px;
  margin: 25px 0 30px;
}

form {
  label{
    color:pink;
  }
  label::after {
    content: "*";
    color: #e9c6f1;
    /* color: rgb(255, 255, 255); */
  }
}

.formbold-form-input-select,
option {
  /* text-align: center; */
  width: 100%;
  padding: 2px 2px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #536387;
  font-weight: 500;
  font-size: 14px;
  color: #f8f8f8;
  outline: none;
  resize: none;
}

.formbold-event-details h5 {
  color: #07074d;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 25px;
}
.formbold-event-details ul {
  border-top: 1px solid #edeef2;
  padding: 25px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 14px;
}
.formbold-event-details ul li {
  color: #536387;
  font-size: 16px;
  line-height: 24px;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.formbold-form-title {
  color: #07074d;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 30px;
  transition: heading;
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
.formbold-input-flex > div {
  width: 50%;
}
.formbold-form-input {
  /* text-align: center; */
  width: 100%;
  padding: 5px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #536387;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  resize: none;
}
.formbold-form-input:focus,
.formbold-form-input-select:focus {
  /* border-color: #6a64f1; */
  border-color: #536387;

  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-form-label {
  color: #f5f8ff;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.formbold-policy {
  font-size: 14px;
  line-height: 24px;
  color: #536387;
  width: 70%;
  margin-top: 22px;
}
.formbold-policy a {
  color: #6a64f1;
}
.formbold-btn {
  text-align: center;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  margin-top: 25px;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.headerImage {
  max-width: 600px;
}
